<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__contacts">
        <a href="tel:08 6261 3649" class="footer__link">08 6261 3649</a>
        <a href="#" class="footer__link">Contact us</a>
        <a href="#" class="footer__link">Privacy Policy</a>
      </div>
      <a href="#" class="footer__text">Bachelor of Science - Post Grad Cert Infection Prevention & Containment - Cert
        Foundations of Infection Prevention and Control - Member of Australasian College for Infection Prevention &
        Containment (ACIPC) - Certificate III in Cleaning Operations Infection Professionals — Safety Through Excellence
        in Infection Control & Environmental Cleaning</a>
      <div class="footer__social">
        <a href="#" class="footer__facebbok"><img src="img/facebook.svg" alt="facebook"></a>
        <a href="#" class="footer__linkedin"><img src="img/linkedin.svg" alt="linkedin"></a>
      </div>
      <div class="footer__copy">
        <p>© <span class="year"></span>
          <script>
            let today = new Date();
            let year = today.getFullYear();
            document.querySelector('.year').innerHTML = year;
          </script> Infection Professionals. All Rights Reserved. Designed by <a href="https://www.webcapitan.com"
            target="_blank">Webcapitan</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="all_pages">
    <div class="page_point">Pages</div>
    <ul class="page_list">
      <li><a href="index.html">Index</a></li>
      <li><a href="office-clean.html">Office clean</a></li>
      <li><a href="sanitisation-clean.html">Sanitisation Clean</a></li>
      <li><a href="deep-clean.html">Deep Clean</a></li>
      <li><a href="cleaning-audit.html">Cleaning Audit</a></li>
      <li><a href="policy-procedure.html">IPC Policy & Procedure Development</a></li>
      <li><a href="training.html">Training</a></li>
      <li><a href="hand-hygiene.html">Hand Hygiene - Audit and Train</a></li>
      <li><a href="test-tag.html">Test & Tag - Certificates</a></li>
      <li><a href="about.html">About Us</a></li>
    </ul>
  </div>
</footer>
