<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__wrap">
        <a href="#" class="header__logo"><img src="img/logo.svg" alt="logo"></a>
        <div class="header__name">Safety Through Excellence in<br><span>Infection Control & Environmental
            Cleaning</span></div>
      </div>
      <a href="contact.html" class="header__btn btn btn-reset">contact us</a>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <nav class="nav" data-menu>
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
          <li class="nav__item">Services
            <nav class="submenu">
              <ul>
                <li><a href="office-clean.html">Office Clean</a></li>
                <li><a href="sanitisation-clean.html">Sanitisation Clean</a></li>
                <li><a href="deep-clean.html">Deep Clean</a></li>
                <li><a href="cleaning-audit.html">Cleaning Audit</a></li>
                <li><a href="policy-procedure.html">IPC Policy & Procedure Development</a></li>
                <li><a href="training.html">Training</a></li>
                <li><a href="hand-hygiene.html">Hand Hygiene</a></li>
                <li><a href="test-tag.html">Test & Tag</a></li>
              </ul>
            </nav>
          </li>
          <li class="nav__item"><a href="#" class="nav__link">Sanifield Safe</a></li>
          <li class="nav__item"><a href="about.html" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="work.html" class="nav__link">Work With Us</a></li>
        </ul>
      </nav>
      <button class="burger" aria-label="Open menu" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
